@import "~bootstrap/scss/bootstrap.scss";
body{
    background-color:whitesmoke;
    font-family: 'Russo One', sans-serif;
}

.square{
   
    height: 10rem;
    width: 10rem;
    border: solid whitesmoke 1px;
    background: black;
}

.player1{
    color: mediumorchid;
    font-size: 5rem;

}
.player2{
    color: gray;
    font-size: 5rem;

}